<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="/">YourTaskManager</a>
    </div>
      
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Task List', tasks_path %></li>
        <li><%= link_to 'Add Task', new_task_path %></li>
      </ul>
    </div>
  </div>
</nav>

<h1 class="box">Edit id:<%= @task.id %></h1>

<%= render 'form', task: @task %>
