<%= render 'layouts/navbar' %>

<% if logged_in? %>


<!--<div class="row">-->
<!--  <aside class="row">-->
<!--    <%#= form_for(@task) do |f| %>-->
<!--      <tr class="form-line col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">-->
<!--        <td><%#= f.text_field :content, class: 'form-control' %></td>-->
<!--        <td><%#= f.date_field :duedate, class: 'form-control' %></td>-->
<!--        <td><%#= f.text_field :status, class: 'form-control' %></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td colspan="3" style="text-align:right"><%#= f.submit 'Post', class: 'btn btn-primary btn-md' %></td>-->
<!--      </tr>-->
<!--    <%# end %>-->
<!--  </aside>-->
<!--</div>-->

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

